.idea/
public/uploads/s/
system/backups/
system/logs/
classes/xml.class.php_bak
public/xml/test.php

# Backup Dateien ignorieren:
*~

# Bilder und Videos ignorieren:
public/schiricenter/bilder/*
public/schiricenter/videos/*

# Enviroment
env.php
