# Enviroment Einstellungen
env.php
.env

# Webroot Dateien
public/.htaccess

public/uploads/s/*
!public/uploads/s/spielplan/.gitkeep
!public/uploads/s/.gitkeep

cache/
!cache/.gitkeep

# System Backups und Logs
system/backups/
system/logs/
*~

# IntelliJ IDE
.idea/

# Visual Studio Code
.vscode/

# npm
node_modules/

# Docker Shell Scripts
*.docker.sh

# composer
vendor/

# xml
classes/xml.class.php_bak
public/xml/test.php

schiri_test.sql