version: "3.8"

services:
  web:
    build:
      context: .
    container_name: ligaseite-web
    restart: always
    links:
      - mariadb
    
    # Schlüssel für die Dev-Umgebung: Code-Synchronisation
    volumes:
      # Mountet das gesamte lokale Repository in den Container
      - .:/var/www/html
      
      # Verhindert, dass der "vendor" Ordner zwischen Host und Container synchronisiert wird
      - vendor_data:/var/www/html/vendor
      
      # Benanntes Volume für den Cache-Ordner
      - cache_data:/var/www/html/cache
      
    ports:
      - '80:80'

  mariadb:
    image: mariadb:10.11
    container_name: ligaseite-mariadb
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
    volumes:
      - 'mariadb-data:/var/lib/mysql/'
      - ./_localhost/db_localhost.sql:/docker-entrypoint-initdb.d/db_localhost.sql
    # Port 3306 für den Host freigeben, falls Sie ein externes Tool nutzen möchten
    ports:
      - '3306:3306'

  phpmyadmin:
    image: phpmyadmin
    container_name: ligaseite-phpmyadmin
    restart: always
    environment:
      PMA_HOST: mariadb
      UPLOAD_LIMIT: 300M
    links:
      - mariadb
    ports:
      - '8080:80'

volumes:
  mariadb-data:
  vendor_data: # Für Composer-Abhängigkeiten
  cache_data: # Für den App-Cache